@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/product/delete" method="post">
    Id :<input type="text" name="pid" /><br />
    <input type="submit" value="Delete Product" />
</form>
