<form action="/student/addstudent" method="post">
  <input type="text" name="studid" /> <br />
  <input type="text" name="studname" /><br />
  <input type="text" name="studemail" /><br />
  <input type="text" name="studmob" /><br />
  <input type="text" name="studaddr" /> <br />
  <input type="text" name="addate" /><br />
  <input type="text" name="fees"/><br />
  <input type="text" name="status" /><br />
  <input type="submit" value="Add Student" />
</form>