<form action="/student/addstudent" method="post">
 ID:            <input type="text" name="studid" /> <br />
 Name:          <input type="text" name="studname" /><br />
 Email          <input type="text" name="studemail" /><br />
 Mobile:        <input type="text" name="studmob" /><br />
 Address:       <input type="text" name="studaddr" /> <br />
 Admission Date:<input type="text" name="addate" /><br />
 Fees:          <input type="text" name="fees"/><br />
 Status:        <input type="text" name="status" /><br />
                <input type="submit" value="Add Student" />
</form>